extends layout

block content
    .row
        .col-md-9
            ol.breadcrumb
                li.breadcrumb-item.active Home
        .col-md-3
            a.btn.btn-default.btn-rounded.mb-4.waves-effect.waves-light.mt-0(href='', data-toggle='modal', data-target='#modalDefaultContactForm')
                | Add Quiz
                i.fas.fa-plus-circle.ml-2

    p= JSON.stringify(locals)


    - let count = data.length
    - let rows = Math.ceil(count/3.0)
    - let n = 0
    - for(let i=0;i<rows;i++){
        .row.mb-4
            - for(let j=0;j<3&&n<count;j++,n++){
                .col-md-4
                    .card
                        .card-body.text-center
                            h4.card-title
                                a= data[i*3+j].title
                            p.card-text= data[i*3+j].desc
                            p.card-text= data[i*3+j].start + ' to ' + data[i*3+j].end
                            p.card-text= 'Duration: ' + data[i*3+j].duration + ' mins'
                            a.btn.btn-primary(href='#') Register
            - }
    - }

    #modalDefaultContactForm.modal.fade(tabindex='-1', role='dialog')
        .modal-dialog.cascading-modal(role='document')
            .modal-content
                .modal-header.info-color.white-text
                    h4.title
                        i.fas.fa-pencil-alt
                        |  ADD QUIZ
                    button.close.waves-effect.waves-light(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    form(action='/quiz', method='post')
                        label(for='title') Title
                        input#title.form-control.form-control-sm(type='text', name="title", required)
                        br
                        label(for='desc') Description
                        textarea#desc.md-textarea.form-control(name='desc', required)
                        br
                        label(for='start') Start
                        input#start.form-control.form-control-sm(name='start', type='datetime-local', max="9999-12-31T23:59", required)
                        br
                        label(for='end') End
                        input#end.form-control.form-control-sm(name='end', type='datetime-local', max="9999-12-31T23:59", required)
                        br
                        label(for='duration') Duration(minutes)
                        input#duration.form-control.form-control-sm(name='duration', type='number', required)
                        .text-center.mt-4.mb-2
                            button.btn.btn-info(type='submit')
                                | Add
                                i.fas.fa-plus-circle.ml-2
